<%- model_class = Restaurant -%>
<div class="jumbotron foodbackground">
        <%= link_to "BACK TO LIST!",
      restaurants_path,
    :class => "randombutton" %>

</div>

<div>
  <h1 class="random-name">
    <%= @restaurant.name %>
  </h1>
  <h3 class="random-address">
    <%= @restaurant.address %>
  </h3>
  
</div>

<div class="row" style="margin-left: 340px; margin-right: 460px; margin-top: 50px;">
  <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-3" >
      <button class="btn btn-large btn-danger yelp-button" type="button">View in Yelp</button>
    </div>
    <div class="col-xs-6 col-sm-3" >
      <button class="btn btn-large btn-info yelp-button" type="button">View My Notes</button>
    </div>
    
</div>
