<body style="background-color: yelow">
<div class="jumbotron foodbackground" style="height: 600px; text-align:center;">
  <h1 style="line-height: 400px;">
    <%= "Thank you for contacting, " + @user_name + "!" %>
  </h1>
</div>
</body>