<body style="background-color: yello">
<div class="jumbotron foodbackground" style="height: 1000px; text-align:center;">
  <h1 style="line-height: 400px;">
    <%= "Thank you for contacting! " + @name %>
  </h1>
</div>
</body>